.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url('../assets/header.webp');
    box-shadow: 10px 8px var(--color-box-shadow);
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.logo {
    height: 80px;
    object-fit: contain;
}
