{% extends 'base.html' %}

{% block title %}Thank You{% endblock %}

{% block content %}
<div class="thank-you-message">
    <p>We’re thrilled to have you here and making the night unforgettable! Your vote for "{{song_name}}" is in, and the
        energy is building. The 10 songs with the most votes will close out the set, so don’t stop now—bring your
        buddies, text your crew, DM your crush and get them down here. Let’s make this a night to remember!</p>
    <p>Thanks for being part of the night. We hope you enjoy the show!</p>
</div>
{% include '_home_content.html' %}
{% endblock %}