:root {
    --header-height: 120px;
    --color-primary: #f7bd41;
    --color-primary-opacity: rgba(247, 189, 65, 0.7);
    --color-accent: #f28d35;
    --color-accent-darker: #d46b3f;
    --color-accenty-opacity: rgba(242, 141, 53, 0.7);
    --color-background-dark: rgba(9, 18, 26, 0.8);
    --color-box-shadow: rgba(9, 18, 26, 0.2);
}

html,
body {
    height: 100%;
    margin: 0;
    color: var(--color-primary);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('./assets/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2,
a {
    color: var(--color-primary) !important;
}

.subtle {
    color: var(--color-primary-opacity);
    font-size: 1rem;
}

.mx3 {
    margin: 0 10px;
}
